<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.panyunyi.growingup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MsgService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.ThinkingActivity"
            android:label="@string/title_activity_thinking"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activity.OrderActivity" />
        <activity
            android:name=".ui.activity.InspireActivity"
            android:label="@string/title_activity_inspire"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>